DATABASE_URL=postgresql://geoinfer:geoinfer_dev_password@localhost:5433/geoinfer
REDIS_URL=redis://localhost:6379/0

# Environment Configuration
ENVIRONMENT=DEV
API_VERSION=0.0.1

SUPABASE_URL=https://platform.geoinfer.com
SUPABASE_KEY=your_supabase_anon_key_here
SUPABASE_JWT_SECRET=your_supabase_jwt_secret_here

RESEND_API_KEY=

# Stripe Configuration
STRIPE_WEBHOOK_SECRET=whsec_12345
STRIPE_SECRET_KEY=sk_test_12345


